img{
    width: 20%;
    height: 20%;
    margin: 175px;
    background-color:darkcyan
    padding: 20px    
}
body{
    background-color: blue;
}
h1{
    color:aquamarine;
    text-align: center;
    border:20px solid aquamarine;
    border-style:groove;
    padding: 25px;
}